# C++ objects and libs

*.DS_Store
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

app/chessgames/plugins/.DS_Store
app/chessgames/plugins/com/.DS_Store
app/chessgames/plugins/com/chessgames/.DS_Store
app/chessgames/plugins/com/chessgames/avatars/.DS_Store
installer/packages/com.chesgames.playzone/.DS_Store
installer/packages/.DS_Store
installer/packages/com.chesgames.playzone/data/.DS_Store
src/.DS_Store
